<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1>Mars Rover</h1>
                <h2>Result</h2>
                <div th:if="${success}">
                    <table>
                        <tr th:each="record :${result}">
                            <td th:text="${record}"></td>
                        </tr>
                    </table>
                </div>
                <div th:unless="${success}">
                    <p th:text="${errorMessage}"></p>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>